/* Navbar */
.CSS_Nav {
    padding: 1rem 5%;
    /* background-color: #0d0221; */
    background-color: #292929;
    width: 100vw;
    z-index: 200;
    position: fixed;
    left: 0;
  }
  
  .navbar > .container-fluid {
    justify-content: flex-end;
  }
  .navbar-dark .navbar-toggler {
    outline: none;
  }
  
  .navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none;
  }
  .navbar-toggler span {
    display: block;
    background-color: #aaa;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    position: relative;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
  }
  /* when collapsed */
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
  }
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
  }
  /* when not collapsed */
  .navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
  }
  .navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
  }
  
  /* Navbar nav */
  .navbar .collapse ul.navShow {
    height: 90vh !important;
    display: flex !important;
  }
  .navbar-nav {
    text-align: center;
  }
  /* nav-item */
  .nav-item {
    text-shadow: #ED1996ff 0px 0px 5px;
    transform: none;
  }
  .nav-item:hover{
    text-shadow: #59C9F3ff 0px 0px 5px;
    transform: none;
  }
  .nav-link {
    font-size: 100%;
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      justify-content: center;
    }
  }
  @media (max-width: 992px) {
    .nav-link {
      margin: 2% auto;
      font-size: 200%;
    }
  }
  