@import "navBar.css";

@font-face {
  font-family: 'ethnic';
  src: url('../assets/fonts/EthnocentricRg-Regular\ 400.ttf');
}
@font-face {
  font-family: 'good_times';
  src: url('../assets/fonts/good_times.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%; max-width: 100%;
  overflow-x: hidden;
  display: block;
  position: relative;
  color: white;
  background-color: #212529;
  font-family: 'Montserrat', sans-serif;
  /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5); */
}
/* Scrollbar desgin */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(237,25,150,1) 0%, rgba(254,254,254,1) 50%, rgba(0,174,239,1) 100%); 
    border-radius: 10px;
  }


/* header */
.Front-header {
  font-family: "ethnic";
  padding: 2%;
  position: absolute;
} 

/* Bottom animation */
.bottom-animation{
    position: absolute;  
    bottom:0;                         
    left:0;
    z-index: -9999;
}

/* utils */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
   
}

.timer-text{
    font-family: "good_times";
    font-size: 1.5rem;
    color: white;
    text-shadow:
      0 0 7px #fff,
      0 0 7px #00AEEFff;
}
  
@media screen and (max-width: 600px) {
    .timer-text{
        font-size: 0.8rem;
    }
}

/* Topic heading with flickering effect */
.topic-heading{
  margin: 60px auto;
  font-family: "ethnic";
  font-size: 2.5rem;
  text-align: center;
  animation: flicker 1.5s infinite alternate;   
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 70px #ED1996ff,
      0 0 80px #ED1996ff,
      0 0 90px #ED1996ff;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

/* highlighted cards */
.card-img-top {
  height: 200px;
}

.card-t {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}
.card-body {
  text-align: center;
  color: white;
}
.card-text{
  font-family: "ethnic";
  font-size: 1rem;
  text-align: center;
}
.card-style-1{
  background: #E9088D;
  background: -webkit-linear-gradient(top left, #E9088D, #03ADEC);
  background: -moz-linear-gradient(top left, #E9088D, #03ADEC);
  background: linear-gradient(to bottom right, #E9088D, #03ADEC);
}
.card-style-2{
  background: #5BBEE3;
  background: -webkit-linear-gradient(top left, #5BBEE3, #E940A4);
  background: -moz-linear-gradient(top left, #5BBEE3, #E940A4);
  background: linear-gradient(to bottom right, #5BBEE3, #E940A4);
}