@import "navBar.css";

@font-face {
  font-family: "good-times";
  src: url("../assets/fonts/good_times.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  font-family: "good-times";
  font-size: 1.1rem;
  font-weight: bold;
}

body {
  height: 100%; max-width: 100%;
  overflow-x: hidden;
  display: block;
  position: relative;
  color: #212529;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5); */
}

/* header */
.Front-header {
  font-family: "good-times";
  padding: 2%;
  /* position: absolute; */
} 

/* Bottom animation */
.bottom-animation{
    position: absolute;  
    bottom:0;                         
    left:0;
    z-index: -9999;
}

/* utils */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
   
}