@import "navBar.css";

@font-face {
  font-family: "ethnic";
  src: url("../assets/fonts/EthnocentricRg-Regular\ 400.ttf");
}
@font-face {
  font-family: "good_times";
  src: url("../assets/fonts/good_times.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: block;
  position: relative;
  color: white;
  background-color: #292929;
  font-family: "Montserrat", sans-serif;
  /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5); */
}
/* Scrollbar desgin */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(237, 25, 150, 1) 0%, rgba(254, 254, 254, 1) 50%, rgba(0, 174, 239, 1) 100%);
  border-radius: 10px;
}

/* header */
.Front-header {
  font-family: "ethnic";
  padding: 2%;
  position: absolute;
}

/* btn-primary */
.btn-primary, .btn-primary:hover {
  background: #FFF;
  color: #273339ff;
  font-weight: 600;
  border: none;
}

.btn-primary:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
/* Bottom animation */
.bottom-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -9999;
}

/* utils */
.flex {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.timer-text {
  font-family: "good_times";
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 7px #00aeefff;
}
.timer-container{
  display: flex; 
  padding-top: 100px;
}
.image-container{
  margin-top: 120px;
}

@media screen and (max-width: 600px) {
  .timer-text {
    font-size: 0.6rem;
  }
  .timer-container{
    display: flex; 
    padding-top: 20px;
  }
  .image-container{
    margin-top: 70px;
  }
}

/* Topic heading with flickering effect */
.topic-heading-1 {
  margin: 80px auto;
  font-family: "ethnic";
  font-size: 2rem;
  text-align: center;
  animation: flicker-1 1.5s infinite alternate;
}
.topic-heading-2 {
  margin: 80px auto;
  font-family: "ethnic";
  font-size: 2rem;
  text-align: center;
  animation: flicker-2 1.5s infinite alternate;
}
@keyframes flicker-1 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 70px #ed1996ff, 0 0 80px #ed1996ff, 0 0 90px #ed1996ff;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
@keyframes flicker-2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 70px #00aeefff, 0 0 80px #00aeefff, 0 0 90px #00aeefff;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* highlighted cards */
.card-img-top {
  height: 150px;
  margin-top: 20px;
}
.card {
  height: 300px;
}

.card-t {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}
.card-body {
  text-align: center;
  color: white;
}
.card-text {
  font-family: "good_times";
  font-size: 1rem;
  text-align: center;
}
.card-style-1 {
  background: rgb(37, 37, 37);
  /* background: #E9088D; */
  /* background: -webkit-linear-gradient(top left, #E9088D, #03ADEC);
  background: -moz-linear-gradient(top left, #E9088D, #03ADEC);
  background: linear-gradient(to bottom right, #E9088D, #03ADEC); */
}
/* .card-style-2{
  background: #5BBEE3;
  background: -webkit-linear-gradient(top left, #5BBEE3, #E940A4);
  background: -moz-linear-gradient(top left, #5BBEE3, #E940A4);
  background: linear-gradient(to bottom right, #5BBEE3, #E940A4);
} */

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  z-index: -9999999;
}
.developer-title {
  font-family: "good_times";
  margin-top: 30px;
}
.developer-subtitle {
  /* font-family: "ethnic"; */
  font-size: 1.5rem;
  margin-top: 40px;
}

/* prize section */
.prize h4 {
  font-family: "good_times";
  font-size: 1.2rem;
}
.img-prize {
  width: 250px;
  height: 250px;
}

/* Themes section */
.theme-box {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
}

.back {
  /* background: #cedce7; */
  background: linear-gradient(45deg, rgb(37, 37, 37) 0%, #596a72 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.front::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: rgb(37, 37, 37);
  backface-visibility: hidden;
  border-radius: 10px;
}

.theme-box:hover .front,
.theme-box:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}
.inner img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.inner h4 {
  margin-top: 1rem;
  color: #59c9f3ff;
  font-family: "ethnic";
  font-size: 1rem;
}

.inner span {
  /* font-size: 1rem; */
  color: white;
  font-family: "good_times";
  font-size: 0.8rem;
}

.back .inner span {
  color: white;
}
.theme-box .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.theme-box .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.theme-box:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.theme-box:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

/* event-schedule */
.timeline-heading h5 {
  font-family: "good_times";
}
.timeline-body {
  opacity: 0.8;
}
.timeline-title {
  color: #59c9f3ff;
}

/* Mentor and judges */
.speaker-box {
  width: fit-content;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.speaker-box .speaker-img {
  border-radius: 50%;
  margin: 1.25rem;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.speaker-box h3 {
  margin-top: 15px;
  font-weight: 500;
}
.speaker-box:hover .speaker-img {
  transform: scale(0.9);
}

.speaker-box .img-box::before {
  content: url("../assets/img/speech.svg");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(200%, 150%) rotate(180deg);
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.speaker-box .img-box::after {
  content: url("../assets/img/linkedin-chat.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transform: translate(-150%, -200%) rotate(180deg);
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.speaker-box:hover .img-box::after,
.speaker-box:hover .img-box::before {
  opacity: 1;
  transform: translate(0);
}
.mentor-heading1 {
  color: #59c9f3ff;
  font-family: "good_times";
  font-size: 1rem;
}
.mentor-heading2 {
  color: #ed1996ff;
  font-family: "good_times";
  font-size: 1rem;
}

/* sponsers */
.cfc-image{
  height: 200px;
  width: 230px;
}
.img-sponsors-title {
  width : 400px;
}
.card-sponsors h2{
  font-family: "good_times";
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1.9px
}

/* Accordian */
.panel-group .panel {
  border: 1px solid #5e25478a;
  border-radius: 5px;
  margin: 1em 0;
  background: rgb(37, 37, 37);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
  transform-style: preserve-3d;
}

.panel-heading a {
  display: inline-block;
  font-family: "good_times";
  color: #59c9f3ff;
  text-decoration: none;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 2rem 5rem 2rem 2rem;
  position: relative;
  transition: 0.15s all ease-in-out;
}

.panel-heading a::after {
  content: "+";
  position: absolute;
  top: 30%;
  right: 2rem;
  font-size: 1.5rem;
}
/* .panel-heading a::after {
  content: "-";
  top: 28%;
  right: 2rem;
} */
.panel-body {
  padding: 0 2rem 2rem;
}
/* footer */
.img-brand {
  height: 30px;
  width: 30px;
}
.img-brand-sm {
  height: 18px;
  width: 18px;
}
.foot-links a{
  text-decoration: none;
  color: white;
  font-weight: 400;
}