@import "navBar.css";


@font-face {
  font-family: "good-times";
  src: url("../assets/fonts/good_times.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, #272729, #120727);
}

/* header */
.Front-header {
  font-family: "good-times";
  padding: 2%;
  position: relative;
}

