@import "navBar.css";

@font-face {
  font-family: "good-times";
  src: url("../assets/fonts/good_times.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%; max-width: 100%;
  overflow-x: hidden;
  display: block;
  position: relative;
  color: white;
  background-color: #212529;
  font-family: 'Montserrat', sans-serif;
  /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5); */
}
/* Scrollbar desgin */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(237,25,150,1) 0%, rgba(254,254,254,1) 50%, rgba(0,174,239,1) 100%); 
    border-radius: 10px;
  }


/* header */
.Front-header {
  font-family: "good-times";
  padding: 2%;
  position: absolute;
} 

/* Bottom animation */
.bottom-animation{
    position: absolute;  
    bottom:0;                         
    left:0;
    z-index: -9999;
}

/* utils */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
   
}

.timer-text{
    font-family: "good-times";
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow:
      0 0 7px #fff,
      0 0 42px #00AEEFff;
}
  
@media screen and (max-width: 600px) {
    .timer-text{
        font-size: 0.8rem;
    }
  }