.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;
}
.timeline2 .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  background: #00b4d8;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e6e6e6;
  left: 50%;
  margin-left: 0;
}
@media screen and (max-width: 996px) {
  .timeline:before {
      margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
      margin-left: -64px;
  }
}
@media screen and (max-width: 996px) {
  .timeline .timeline-heading {
      margin-bottom: 10px;
  }
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  background: #00b4d8;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 996px) {
  .timeline .timeline-heading > div h3 {
      float: left;
      margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 996px) {
  .timeline > li {
      margin-bottom: 4em;
  }
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 996px) {
  .timeline > li > .timeline-panel {
      width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
      width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
      top: 30px;
  }
  .timeline > li > .timeline-panel:after {
      top: 31px;
  }
}
.timeline > li > .timeline-badge {
  background:#F140A9ff;
  box-shadow: 0 0 50px 2px #F140A9ff;
  color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -9px;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 996px) {
  .timeline > li > .timeline-badge {
      margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
      margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 996px) {
  .timeline > li.timeline-unverted {
      text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-title {
  margin-top: 30px;
}
.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #bfbfbf;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 992px) {
  ul.timeline:before {
      left: 90px;
  }
  ul.timeline > li > .timeline-panel {
      width: calc(100% - 200px);
      width: -moz-calc(100% - 200px);
      width: -webkit-calc(100% - 200px);
  }
  ul.timeline > li > .timeline-badge {
      left: 27px;
      margin-left: 0;
      top: 16px;
  }
  ul.timeline > li > .timeline-panel {
      float: right;
  }
  ul.timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
  }
}
.left_content .timeline-title {
  color: #59C9F3ff!important;
}
.left_content .timeline-badge {
  background: #F140A9ff !important;
  box-shadow: 0 0 100px 0px whitesmoke !important;
}
.left_content .timeline-body {
   color: #59C9F3ff  !important;
}
.right_content .timeline-title {
  color:  #59C9F3ff !important;
}
.right_content .timeline-badge {
  background: #F140A9ff !important;
  box-shadow: 0 0 50px 3px #F140A9ff !important;
}
.right_content .timeline-body {
  color:  #59C9F3ff !important;
}
